* {
    outline: none;  
    font-size: 1.5rem;
}

.cnt-buscar-turnos {
    width: 75vw;
    height: 75vh;
    background: var(--white);
    border: 0px;
    box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;  
}

.cnt-buscar-turnos-titulo {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cnt-buscar-turnos-tabla {
    width: 100%;
    height: 70%;
    overflow-y: scroll;
}

table {
    width: 100%;
}

tr {
    color: var(--blue);
    text-align: center;
}

tr:hover {
    background-color: var(--orange);
}

tr:active {
    color: var(--orange);
    background-color: var(--blue);
}

.main-td {
    background-color: var(--orange);
}

input {
    color: var(--blue);
    border: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}

button {
    width: 20%;
    height: 10%;
    border: 2px solid var(--orange);
    background: transparent;
    color: var(--blue);
}

button:hover { 
    border: 4px solid var(--orange);
}

button:active { 
    border: 4px solid var(--orange);
    background: var(--orange);
}