<div *ngIf="!mostrarTurno" class="cnt-buscar-turnos">
    <div class="cnt-buscar-turnos-titulo">
        <input type="text" placeholder="filtro de busqueda" (input)="cambioFiltro($event)">
    </div>
    <div class="cnt-buscar-turnos-titulo">
        <span>TURNOS</span>
    </div>
    <div  class="cnt-buscar-turnos-tabla">
        <table>
            <tbody>
                <tr>
                    <td class="main-td">DIA</td>
                    <td class="main-td">FECHA</td>
                    <td class="main-td">ESPECIALIDAD</td>
                    <td class="main-td">ESTADO</td>
                    <td class="main-td">NOMBRE PACIENTE</td>
                    <td class="main-td">NOMBRE PROFESIONAL</td>
                    <td class="main-td">EDAD</td>
                    <td class="main-td">TEMPERATURA</td>
                    <td class="main-td">PRESION</td>
                    <td class="main-td">OPCIONAL 1</td>
                    <td class="main-td">OPCIONAL 2</td>
                    <td class="main-td">OPCIONAL 3</td>
                </tr>
                <tr *ngFor="let turno of listaTurnos | diaDeLaFecha" (click)="seleccionarTurno(turno)">
                    <td>{{turno.dia}}</td>
                    <td>{{turno.fecha}}</td>
                    <td>{{turno.especialidad}}</td>
                    <td [changeStatusColor]="turno.estado">{{turno.estado}}</td>
                    <td>{{turno.nombrePaciente}}</td>
                    <td>{{turno.nombreProfesional}}</td>
                    <td>{{turno.edad}}</td>
                    <td>{{turno.temperatura}}</td>
                    <td>{{turno.presion}}</td>
                    <td *ngIf="turno.claveCampo1">{{turno.claveCampo1}} = {{turno.valorCampo1}}</td>
                    <td *ngIf="!turno.claveCampo1"></td>
                    <td *ngIf="turno.claveCampo2">{{turno.claveCampo2}} = {{turno.valorCampo2}}</td>
                    <td *ngIf="!turno.claveCampo2"></td>
                    <td *ngIf="turno.claveCampo3">{{turno.claveCampo3}} = {{turno.valorCampo3}}</td>
                    <td *ngIf="!turno.claveCampo3"></td>
                </tr>
            </tbody>
        </table> 
    </div>
    <button type="button" (click)="salir()">Cancelar</button>
</div>
<app-ver-turno *ngIf="mostrarTurno" [profesional]="profesional" [paciente]="paciente" [fotosPaciente]="fotosPaciente" [fotosProfesional]="fotosProfesional" [turno]="turno" (cancelar)="agarrarCancelar()"></app-ver-turno>
