<div class="cnt-informes" *ngIf="!mostrarGrafico">
    <!--<button type="button" class="btn-informes">1 A</button>-->
    <button type="button" class="btn-informes" (click)="turnosPorEspecialidad()">Cantidad de operaciones por especialidad</button>
    <button type="button" class="btn-informes" (click)="turnosPorDia()">Cantidad de turnos por dia de la semana</button>
    <button type="button" class="btn-informes" (click)="turnosPorMedico()">Médicos por cantidad de turnos dados en un lapso de tiempo</button>
    <button type="button" class="btn-informes" (click)="medicosPorDias()">Médicos por cantidad de días que trabajaron en un lapso de tiempo</button>
    <button type="button" class="btn-informes" (click)="salir()">Cancelar</button>
</div>
<app-graficos *ngIf="mostrarGrafico" [grafico]="grafico" (descargar)="agarrarDescargar($event)" (cancelar)="agarrarCancelar()"></app-graficos>
