<app-nav-bar [salir]="true"></app-nav-bar>
<div class="cnt-administrador">
    <div *ngIf="vistaAdministrador == ''" class="cnt-secundario-administrador">
        <h1>ADMINISTRADOR</h1>
        <button type="button" class="btn-vista-administrador" (click)="cambiarVistaAdministrador('Aceptar Profesional')">Aceptar Profesionales</button>
        <button type="button" class="btn-vista-administrador" (click)="cambiarVistaAdministrador('Alta Administrador')">Alta Administrador</button>
        <button type="button" class="btn-vista-administrador" (click)="cambiarVistaAdministrador('Buscar Turnos')">Buscar Turnos</button>
    </div>
    <div *ngIf="vistaAdministrador == 'Aceptar Profesional'" class="cnt-secundario-administrador">
        <app-aceptar-profesional [listaProfesionalesNoHabilitados]="listaProfesionalesNoHabilitados" (exito)="agarrarExito($event)" (cancelar)="agarrarCancelar()"></app-aceptar-profesional>
    </div>
    <div *ngIf="vistaAdministrador == 'Alta Administrador'" class="cnt-secundario-administrador">
        <app-alta-administrador [miAdministrador]="miAdministrador" (error)="agarrarError($event)" (exito)="agarrarExito($event)" (cancelar)="agarrarCancelar()"></app-alta-administrador>
    </div>
    <div *ngIf="vistaAdministrador == 'Buscar Turnos'" class="cnt-secundario-administrador">
        <app-buscar-turnos-administrador [listaTurnos]="listaTurnos" [listaProfesionales]="listaProfesionales" [listaPacientes]="listaPacientes" (cancelar)="agarrarCancelar()"></app-buscar-turnos-administrador>
    </div>
</div>
