<div class="cnt-registro">
    <form>
        <div class="cnt-select-registro">
            <span>REGISTRO</span>
            <select name="selectAlta" class="select-alta" [(ngModel)]="vistaRegistro">
                <option [value]="''">Seleccione Tipo De Alta</option>
                <option [value]="'Profesional'">Profesional</option>
                <option [value]="'Paciente'">Paciente</option>
            </select>
        </div>
        <div *ngIf="vistaRegistro != ''" class="cnt-registro-campos">
            <input type="text" name="nombre" [(ngModel)]="nombre" placeholder="Nombre" maxlength="10"/>
            <input type="text" name="apellido" [(ngModel)]="apellido" placeholder="Apellido" maxlength="10"/>
        </div>
        <div *ngIf="vistaRegistro != ''"class="cnt-registro-campos">
            <input type="password" name="pass1" [(ngModel)]="pass1" placeholder="Contraseña" maxlength="6"/>
            <input type="password" name="pass2" [(ngModel)]="pass2" placeholder="Repita Contraseña" maxlength="6"/>
        </div>
        <div *ngIf="vistaRegistro != ''" class="cnt-registro-campos">
            <input type="email" name="email" [(ngModel)]="email" class="email-registro" placeholder="Correo Electronico" maxlength="40"/>
        </div>
        <div *ngIf="vistaRegistro != ''" class="cnt-registro-campos-files">
            <input type="file" (change)="handleChangeFiles($event,1)" accept=".png,.jpg" name="foto1"/>
            <input type="file" (change)="handleChangeFiles($event,2)" accept=".png,.jpg" name="foto2"/>
        </div>
        <div *ngIf="vistaRegistro == 'Profesional'" class="cnt-registro-campos">
            <input type="text" placeholder="Agregue Especialidad" name="nuevaEspecialidad" [(ngModel)]="nuevaEspecialidad"/>
            <button type="button" class="btn-registro-agregar" (click)="agregarEspecialidad()">+</button>
            <select name="selectEspecialidad" class="select-especialidad">
                <option *ngFor="let especialidad of listaEspecialidades">{{especialidad}}</option>
            </select>
        </div>
        <div *ngIf="vistaRegistro != ''" class="cnt-registro-campos">
            <img src="../../../assets/images/captcha.jpg">
            <input type="text" placeholder="Captcha" class="inp-captcha" name="captcha" [(ngModel)]="captcha" maxlength="6"/>
        </div>
        <div class="cnt-registro-campos">
            <button type="button" (click)="salir()">Cancelar</button>
            <button *ngIf="vistaRegistro != ''" type="button" (click)="registrar()">Registrar</button>
        </div>
    </form>
</div>

