<div class="cnt-horarios-profesional">
    <span>Seleccione Dias Laborales</span>
    <div class="cnt-horarios-secundario-profesional">
        <label><input type="checkbox" [(ngModel)]="diasLaborales['Lunes']">Lunes</label>
        <label><input type="checkbox" [(ngModel)]="diasLaborales['Martes']">Martes</label>
        <label><input type="checkbox" [(ngModel)]="diasLaborales['Miercoles']">Miercoles</label>
        <label><input type="checkbox" [(ngModel)]="diasLaborales['Jueves']">Jueves</label>
        <label><input type="checkbox" [(ngModel)]="diasLaborales['Viernes']">Viernes</label>
        <label><input type="checkbox" [(ngModel)]="diasLaborales['Sabados']">Sabado</label>
    </div>
    <span >Franja Horaria Semanal</span>
    <div class="cnt-horarios-terciario-profesional">
        <label>
            Desde
            <select [(ngModel)]="desdeSemanal">
                <option *ngFor="let horario of horariosSemanal" [value]="horario">{{horario}}</option>
            </select>
        </label>
      
        <label>
            Hasta
            <select [(ngModel)]="hastaSemanal">
                <option *ngFor="let horario of horariosSemanal" [value]="horario">{{horario}}</option>
            </select>
        </label>
    </div>
    <label>
        Duracion Turnos
        <select [(ngModel)]="duracion">
            <option [value]="30">30</option>
            <option [value]="60">60</option>
        </select>
    </label>
    <span *ngIf="diasLaborales['Sabados']">Franja Horaria Sabados</span>
    <div *ngIf="diasLaborales['Sabados']" class="cnt-horarios-terciario-profesional">
        <label>
            Desde
            <select [(ngModel)]="desdeSabados">
                <option *ngFor="let horario of horariosSabados" [value]="horario">{{horario}}</option>
            </select>
        </label>
        <label>
            Hasta
            <select [(ngModel)]="hastaSabados">
                <option *ngFor="let horario of horariosSabados" [value]="horario">{{horario}}</option>
            </select>
        </label>
    </div>
    <div class="cnt-horarios-terciario-profesional">
        <button type="button" (click)="salir()">Volver</button>
        <button type="button" (click)="guardar()">Guardar</button>
    </div>
</div>