<div class="cnt-login">
    <form>
        <span>LOGIN</span>
        <input type="text" placeholder="Ingrese Correo" [(ngModel)]="email" name="usuario" required>
        <input type="password" placeholder="Ingrese Clave" [(ngModel)]="pass" name="clave" required>
        <div class="btn-cnt-login">
        <button type="button" (click)="ingresar()">INGRESAR</button>
        <button type="button" (click)="cargarUsuario()">CARGAR USUARIO</button>
        <button type="button" (click)="registrarse()">REGISTRARSE</button>
        </div>
    </form>
</div>
