<app-nav-bar [salir]="true" [perfil]="true"></app-nav-bar>
<div class="cnt-profesional">
    <div *ngIf="vistaProfesional == ''" class="cnt-secundario-profesional">
        <h1>PROFESIONAL</h1>
        <button type="button" class="btn-vista-registro" (click)="cambiarVistaProfesional('Horarios')">Horarios</button>
        <button type="button" class="btn-vista-registro" (click)="cambiarVistaProfesional('Turnos')">Turnos</button>
        <button type="button" class="btn-vista-registro" (click)="cambiarVistaProfesional('Atender')">Atender</button>
    </div>
    <div *ngIf="vistaProfesional == 'Horarios' "class="cnt-secundario-profesional">
        <app-horarios-profesional (error)="agarrarError($event)" (exito)="agarrarExito($event)" (cancelar)="agarrarCancelar()"></app-horarios-profesional>
    </div>
    <div *ngIf="vistaProfesional == 'Turnos' "class="cnt-secundario-profesional">
        <app-turnos-profesional (cancelar)="agarrarCancelar()"></app-turnos-profesional>
    </div>
    <div *ngIf="vistaProfesional == 'Atender' "class="cnt-secundario-profesional">
        <app-atender-profesional (error)="agarrarError($event)" (exito)="agarrarExito($event)" (cancelar)="agarrarCancelar()"></app-atender-profesional>
    </div>
</div>
