* {
    outline: none;  
    font-size: 1.5rem;
}

.cnt-profesional {
    width: 50vw;
    height: 75vh;
    background: var(--white);
    border: 0px;
    border-radius: 5%;
    box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.cnt-secundario-profesional {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;  
}

.btn-vista-registro {
    width: 50%;
    height: 20%;
    border: 2px solid var(--orange);
    background: transparent;
    color: var(--blue);
    font-size: 2rem;
}

.btn-vista-registro:hover {
    border: 4px solid var(--orange);
}

.btn-vista-registro:active {
    border: 4px solid var(--orange);
    background: var(--orange);
}