<div class="cnt-pedir-turnos-paciente">
    <div class="cnt-pedir-turnos-primario">
        <app-especialidades *ngIf="listaEspecialidades" [listaEspecialidades]="listaEspecialidades" (especialidadSeleccionada)="agarrarEspecialidadSeleccionada($event)"></app-especialidades>
        <app-profesionales *ngIf="listaProfesionalesPorEspecialidad" [listaProfesionales]="listaProfesionalesPorEspecialidad" (profesionalSeleccionado)="agarrarProfesionalSeleccionado($event)"></app-profesionales>
        <app-turnos *ngIf="listaTurnosPorProfesionales" [listaTurnos]="listaTurnosPorProfesionales" (turnoSeleccionado)="agarrarTurnoSeleccionado($event)"></app-turnos>
    </div>
    <div class="cnt-pedir-turnos-secundario">
        <button type="button" (click)="salir()">Cancelar</button>
    </div>
</div>