* {
    outline: none;  
    font-size: 1.5rem;
}

.cnt-pedir-turnos-paciente {
    width: 90vw;
    height: 75vh;
    background: var(--white);
    border: 0px;
    box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;  
}